@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.duration-3000 {
  transition-duration: 4000ms;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-transition {
  transition: opacity 1s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

@keyframes quantum-wobble {
  0% {
    opacity: 0;
    transform: translateZ(-10px);
  }
  16% {
    transform: translateZ(-160px);
  }
  28% {
    opacity: 1;
    transform: translateZ(-70px);
  }
  44% {
    transform: translateZ(-130px);
  }
  59% {
    transform: translateZ(-85px);
  }
  73% {
    transform: translateZ(-110px);
  }
  88% {
    opacity: 1;
    transform: translateZ(-90px);
  }
  100% {
    opacity: 1;
    transform: translateZ(-100px);
  }
}

.animate-quantum-wobble {
  animation: quantum-wobble 2.2s ease forwards;
}